<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<ul class="list-group mt-4">
    {% for item in Cart_Item %}
    <li class="list-group-item">
      {{item.title}}
       <li class="list-group-item">
      {{item.price}}
      <div class="float-end">
        <form class="form-inline" method="post" action="/del_cart/">
      <button type="submit" class="btn btn-danger" name="item_id" value="{{item.id}}">Delete</button>
    </form>
    </div>
    </li>
    </li>
    {% endfor %}
    <div class="list-group">
      <li class="list-group-item list-group-item-action active" aria-current="true">TOTAL: ${{cart_total}}</li>
      </a>
      </div>
  </ul>
{% endblock %}